.nav {
  display: block;
  width: 100%;
  height: 112px;
  position: absolute;
  top: 0;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    &>li>a {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
  }
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}