.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #C62;
  text-align: center;
  display: flex;
  justify-items: center;
  align-content: center;
  margin: auto;
  & .a , & .b{
    transform: rotate(90deg);
  }
}