.rectangle {
  width: 150px;
  height: 100px;
  background: #FC4;
  text-align: center;
  display: flex;
  justify-items: center;
  align-content: center;
  margin: auto;
  & .a{
    transform: rotate(30deg);
  }
  & .b{
    transform: rotate(-60deg);
  }

}