.container {
  box-sizing: content-box;
  width: 300px;
  margin: auto;
}
.perspective {
  margin: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  perspective: 300px;
  perspective-origin: right;
}

.hov > *{
  transition: 300ms;
}

.hov:hover .square {
  /* transform: rotateX(-30deg);
  transform: rotateY(-20deg);
  transform: rotateZ(30deg); */
  transform: rotateX(-30deg) rotateY(-20deg) rotateZ(30deg);
/*   transform: rotate3d(1, 1, 1, 45deg); */
} 
.hov:hover .rectangle {
  transform: translateZ(100px);
  transform: translateY(100px);
}